

<div *ngIf="afAuth.user | async as user; else showLogin">
      <h1>Hello {{ user.displayName }}!</h1>
      <button (click)="logoutwithgoogle()">Logout</button>
      <br>
      <button (click)="logoutwithtwitter()">Logout</button>
      
      <br>
      <button (click)="logoutwithfacebook()">Logout</button>
      
      <br>
      <button (click)="logoutwithgithub()">Logout</button>   
      <br>

      <app-new-cmp></app-new-cmp>
    </div>
    <ng-template #showLogin>
      <p>Please login.</p>
      <button (click)="loginwithgoogle()">Login with Google</button>
      <br>
      <button (click)="loginwithtwitter()">Login with Twitter</button>
     <br>
     <button (click)="loginwithfacebook()">Login with Facebook</button>
    <br>
    <button (click)="loginwithgithub()"> Login with Github</button>
    </ng-template>
    <div>
      
    </div>
  


<router-outlet></router-outlet>
